
@for (product of products; track $index) {

    <mat-card appearance="outlined">

        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

        <mat-card-content>
          <span>
            {{product.description}}
          </span>
          <span>
            {{product.price}}
          </span>
        </mat-card-content>

        <mat-card-actions>
          <button mat-button>
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-button>
            <mat-icon>share</mat-icon>
          </button>
        </mat-card-actions>

    </mat-card>
}
